body {
    font-family: Arial, sans-serif;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #080808;  
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

button {
    background-color: #e74c3c;
    color: #ecf0f1;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c0392b;
}
